<div class="container">
  <div class="row">
    <div class="col-md-3">
      <ul class="nav flex-column nav-pills">
        <li class="nav-item">
          <a
            routerLink="/"
            routerLinkActive="active"
            class="nav-link active"
            [routerLinkActiveOptions]="{ exact: true }"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/users" routerLinkActive="active" class="nav-link"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a routerLink="/categories" routerLinkActive="active" class="nav-link"
            >Categories</a
          >
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>
